body{
    
    /*background-image: url(background1.jpg);
    height: 1000px;
   background-repeat: no-repeat;
   background-size: cover;*/
   background-color: #000000;
}
pre{
    position: absolute;
    left: 78px;
    top: 378px;
    color: #000000;
}
.t1{
    position: absolute;
    top:224px;
    left: 55px;
}
.name-head{
    position: absolute;
    top: 42px;
    left: 510px;
    font-family: 'Courier New', Courier, monospace;
    width: 290px;
    color: #000000;

}

.a1{
    position: absolute;
    top: 450px;
    left: 141px;
    width: 117px;
    height: 32px;
    background-color: #ffffff;
    color: #2e5783;
    text-align: center;
    font-size: large;
    border-radius: 3px;

}
.img1{
    position: absolute;
    top: 104px;
    left: 871px;
    width: 420px;
    height: 520px;
    border-radius: 30px;
}
.h-name{
    position: absolute;
    top:266px;
    left: 92px;
    color: #000000;

}
h4{
    position: absolute;
    top:311px;
    left: 93px;
    color: #000000;

}
#d1{
    position: relative;
    top: 122px;
    left: 270px;
    width: 1366px;
    height: 695px;
    box-shadow: 3px 4px 15px 10px  #2e5783!important;
    background-color: #2e5783!important;
    border-radius: 30px;

}   
.img2{
    width: 400px;
    position: relative;
    top: 470px;
    left: 364px;
    border-radius: 30px;
   
}
.col6{
position:absolute;
top:1470px;
left: 1117px;
color: #2e5783!important;
}


.name{
    position:absolute;
    top:  1470px;
    left: 849px;
    color: #2e5783!important;
}
#ab1{
    position: absolute;
    top: 632px;
    left: 599px;
    width: 500px;
}
.about1{
    position: absolute;
    top: 1244px;
    left: 849px;
    width: 500px;
    color: #2e5783!important;
}
.text-secondary{
    color: #e0e5ea!important;
    
}
.h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 2.2;
}
.me-d2{
    color: #2e5783!important;
    position: absolute;
    top:  390px;
    left: 644px;
    /* width: 000px; */
    font-weight: 700;
    font-size: 80px;
}
.display-1{
    font-size: 160px;
    font-weight: 1000;
}
@media (max-width:1000px) {
    .display-1{
        font-size: 70px;
    }
}
h1{
    
    text-transform: capitalize;
}
#d3{
    position: relative;
    top: 500px;
    left: 1000px;
    width: 0px;
}
.display-2{
    font-size: 120px;
    font-weight: 900;
    position: absolute;
    top: 500PX;
    left: 500PX;
}
.my-d3{
position: absolute;
top: 169px;
left: -412px;
color: #2e5783!important;
 /* width: 000px; */
 font-weight: 700;
 font-size: 72px;
}
.experience{
    position: absolute;
    top: 219px;
    left: -355px;
    font-size: 123px;
    font-weight: 1000;
    color: #fffbfb;
}
@media (max-width:1000px) {
    .experience{
        font-size: 70px;
    }
    
}
#d4{
    position: relative;
    top: 846px;
    left: 0px;
    width: 100%;
    height: 700px;
    background-color: #2e5783;
}
.fo2{
    position: absolute;
    top: 111px;
    left: 56%;
    width: 550px;
    height: 550px;
    line-height: 2.2;
    text-align: center;
    color: #fffbfb;

}
.fo2:hover{
    box-shadow: 5px 0px 20px 5px white;
}
#form-na{
    width: 500px;
    border-radius: 5px;
}
#form-em{
    width: 500px;
    border-radius: 5px;

}
#form-tel{
    width: 500px;
    border-radius: 5px;

}
#form-add{
    width: 500px;
    border-radius: 5px;

}
#form-na{
    width: 500px;
    border-radius: 5px;

}
.form-control{
    width: 500px;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 40;
    /* line-height: 3.5; */
    line-: normal;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}       
.img3-con{
    position: absolute;
    top: 20px;
    left: -12px;
    width: 782px;
    height: 694px;
}
#submit:hover{
    background-color: #3e6186!important;
    
}
/* target list  */
/* #tar1{
    border-radius: 10px;
    position: relative;
    top: 277px;
    left: 742px;
    width: 1000px;
    height: 600px;
    background-color: #3e6186!important;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.target, .target-ro, .icon{
    width:80px;
    height:80px;
    margin-right: 15px;

}
.target, .details{
    flex: .75;
}
.target, .details, .progress{
    height: 10px;
}
.target, .details, .progress > span{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 75%;
}
.target, .details, .progress > span span{
    position: absolute;
    bottom: 16px;
    right: -11;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px
}
.target, .details, .progress > span span::after{
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.target, .details, .progress > .blue span::after{
    border-top-color: rgb(0, 13, 255);
}
.target, .details, .progress > .red span::after{
    border-top-color: red;
}

.blue .icon,
.blue .progress{
    background-color: rgba(0, 0, 0, 0.2);
}
.bg-blue{
    background-color: #ffffff;
}
.red .icon,
.red .progress{
    background-color: rgba(255, 0, 0, 0.2);
} */
/* Start my experience divs  */
#experience-div{
   
    position: relative;
    top: 893px;
    left: 5%;
    width: 90%;
    height: 470px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
}
.exp1{
    
    margin: 20px;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    float: left;
    width: 30%;
    height: 80%;
    background-color: #2e5783;
    border-radius: 15px;
}
.exp2{
    
    margin: 20px;
    margin-top: 40px;
    text-align: center;
    float: left;
    width: 30%;
    height: 80%;
    background-color: #2e5783;
    border-radius: 15px;
}
.exp3{
    
    margin: 20px;
    margin-top: 40px;
    text-align: center;
    float: left;
    width: 30%;
    height: 80%;
    background-color: #2e5783;
    border-radius: 15px;
}
.fon-exp{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#d5{
    position: relative;
    top: 930px;
    left: 100px;
    width: 90%;
    height: 750px;
    text-align: center;
    /* background-color: #e0e5ea; */
}

.mpro-style{
    position: absolute;
    top: 16px;
    left: 28%;
    width: 827px;
    height: 232px;
    /* background-color: #000000; */
}
.display-3{
    font-size: 148px;
    font-weight: 1000;
}
.pro-style{
    position: absolute;
    top: 42px;
    left: 68px;
}
.my-d5{
    position: absolute;
    top: -8px;
    left: 5px;
    color: #2e5783!important;
    /* width: 000px; */
    font-weight: 720;
    font-size: 81px;
}
.facts{
    position: absolute;
    top: 365px;
    left: 93px;
    color: #fffbfb;
    width: 90%;
}
.p-4{
    color: #2e5783;
    font-size: larger;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: -120px;
    left: 280px;
}
.the-end{
    color: white;
    position: relative;
    top: 878px;
    left: 0px;
}
